# .DS_Store
.DS_Store

# Editor
.vscode

# Jupyter Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__
__init__.py
**.pyc

# dog-app
**/dogImages
**/lfw
**/images
**/test_images

# capstone
/home-credit-default-risk/data

# Misc project files/folders to exclude
**/logs
**/misc
**/practice
**.zip
**.rtf
**.tgz
**.doc*